<h1 class="animated fadeIn fast">{{ lista.titulo}} ({{lista.anio}}) <small></small></h1>
<hr>
<div class="row">
    <div class="col-3">
        <img [src]="lista.image" class="img-fluid" [alt]="lista.titulo">
    </div>
    <div class="col-5">
        <h4>{{lista.genero}}</h4>
        <hr>
        <h5>{{lista.descripcion}}</h5>
        <hr>
        <p>al {{lista.gusta| percent}} le gusta esto.</p>
        <hr>
        <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
</div>